<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683532352534-2066op9qlk1a8gi1n3f5i8rjnc14hh81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683532352534-2066op9qlk1a8gi1n3f5i8rjnc14hh81</string>
	<key>API_KEY</key>
	<string>AIzaSyA1vzRw4ttfz5VKEfkIdDkvo9g40zn5S1g</string>
	<key>GCM_SENDER_ID</key>
	<string>683532352534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jeinie.CaloriesCalculator</string>
	<key>PROJECT_ID</key>
	<string>caloriescalculator-df1a5</string>
	<key>STORAGE_BUCKET</key>
	<string>caloriescalculator-df1a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683532352534:ios:180391e0da0fd92c794937</string>
</dict>
</plist>